.pad
  %h1 Query not yet executed
  %p To make sure data does not get modified without your explicit consent, the current query has not been executed yet.
  %p Simply press the search button, or hit <i>CTRL+ENTER</i> inside the query console to execute it.
